<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main class="detail-template">
      <section class="content">
        <a class="goback" href="/"> Terug</a>

        <%if (item.length > 0) { %> <% item.forEach(function(item) { %>
        <div class="heading">
          <div class="card img-container">
            <img
              src="<%= item.img %>"
              class="card-img-top"
              alt="<%= item.title %>"
            />
          </div>

          <div>
            <h1><%= item.title %></h1>
            <p><%= item.authors %></p>
            <p><%= item.year %></p>

            <div class="helper">
              <p class="text-cloud">
                <span>Hey daar! </span>Zal ik een stukje voorlezen?
              </p>

              <div class="button-wrapper">
                <button>Ja!</button>
                <button>Nee!</button>
              </div>

              <img src="/assets/images/lion.png" alt="little-helper" />
              <p class="text"><%= item.summary %></p>
            </div>
          </div>
        </div>
      </section>
      <% }); %> <% } %>

      <p>Dit boek reserveren?</p>
      <a href="<%= item.link %>" class="external-link">Reserveren</a>
    </main>

    <!-- <%- include("partials/footer") %> -->
  </body>
</html>
