<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body class="homepage">
    <%- include("partials/header") %>
    <main>
      <section class="products winter">
        <h1>Winterboeken</h1>
        <div class="swiper-1 swiper">
          <div class="swiper-wrapper">
            <%if (responseOne.length > 0) { %>
              <% responseOne.forEach(function(item) { %>
                <a href="boek/<%= item.id %>" class="swiper-slide">
                <img src="<%= item.img %>" alt="Naam van boek: <%= item.title %>" />
                <h2><%= item.title %></h2>
              </a>
             <% }); %> 
           <% } %>
        </div>
        <div class="controls">
          <div class="swiper-button-prev1"><img src="assets/icons/arrow.svg" alt="icon-arrow-previous"></div>
          <div class="swiper-button-next1"><img src="assets/icons/arrow.svg" alt="icon-arrow-next"></div>
        </div>
      </section>

      <section class="products spannend">
        <h1>Durf jij deze boeken te lezen?</h1>
        <div class="swiper-1 swiper">
          <div class="swiper-wrapper">
            <%if (responseTwo.length > 0) { %>
              <% responseTwo.forEach(function(item) { %>
                <a href="boek/<%= item.id %>" class="swiper-slide">
                <img src="<%= item.img %>" alt="Naam van boek: <%= item.title %>" />
                <h2><%= item.title %></h2>
              </a>
             <% }); %> 
           <% } %>
        </div>
        <div class="controls">
          <div class="swiper-button-prev1"><img src="assets/icons/arrow.svg" alt="icon-arrow-previous"></div>
          <div class="swiper-button-next1"><img src="assets/icons/arrow.svg" alt="icon-arrow-next"></div>
        </div>
      </section>

      <section class="products monsters">
        <h1>Wordt vrienden met Monsters!</h1>
        <div class="swiper-1 swiper">
          <div class="swiper-wrapper">
            <%if (responseThree.length > 0) { %>
              <% responseThree.forEach(function(item) { %>
                <a href="boek/<%= item.id %>" class="swiper-slide">
                <img src="<%= item.img %>" alt="Naam van boek: <%= item.title %>" />
                <h2><%= item.title %></h2>
              </a>
             <% }); %> 
           <% } %>
        </div>
        <div class="controls">
          <div class="swiper-button-prev1"><img src="assets/icons/arrow.svg" alt="icon-arrow-previous"></div>
          <div class="swiper-button-next1"><img src="assets/icons/arrow.svg" alt="icon-arrow-next"></div>
        </div>
      </section>

      <section class="products grappig">
        <h1>Ga stuk van het lachen</h1>
        <div class="swiper-1 swiper">
          <div class="swiper-wrapper">
            <%if (responseFour.length > 0) { %>
              <% responseFour.forEach(function(item) { %>
                <a href="boek/<%= item.id %>" class="swiper-slide">
                <img src="<%= item.img %>" alt="Naam van boek: <%= item.title %>" />
                <h2><%= item.title %></h2>
              </a>
             <% }); %> 
           <% } %>
        </div>
        <div class="controls">
          <div class="swiper-button-prev1"><img src="assets/icons/arrow.svg" alt="icon-arrow-previous"></div>
          <div class="swiper-button-next1"><img src="assets/icons/arrow.svg" alt="icon-arrow-next"></div>
        </div>
      </section>

      <section class="products liefde">
        <h1>Wordt verliefd op deze liefdes boeken</h1>
        <div class="swiper-1 swiper">
          <div class="swiper-wrapper">
            <%if (responseFive.length > 0) { %>
              <% responseFive.forEach(function(item) { %>
                <a href="boek/<%= item.id %>" class="swiper-slide">
                <img src="<%= item.img %>" alt="Naam van boek: <%= item.title %>" />
                <h2><%= item.title %></h2>
              </a>
             <% }); %> 
           <% } %>
        </div>
        <div class="controls">
          <div class="swiper-button-prev1"><img src="assets/icons/arrow.svg" alt="icon-arrow-previous"></div>
          <div class="swiper-button-next1"><img src="assets/icons/arrow.svg" alt="icon-arrow-next"></div>
        </div>
      </section>
      <%- include("partials/chatbot") %>
    </main>



    <div class="overlay character-pick">
      <h2>Met wie wil jij vriendjes worden?</h2>

      <div class="choises">
        <ul>
          <li>
            <input type="radio" id="myCheckbox1" name="myRadio" value="Lion"/>
            <label for="myCheckbox1"><img src="/assets/images/lion.png" /></label>
            <h4>Lex de Leeuw</h4>
          </li>
          <li>
        
            <input type="radio" id="myCheckbox2" name="myRadio" value="Robot"/>
            <label for="myCheckbox2"><img src="/assets/images/robot.png" /></label>
            <h4>Rob de Robot</h4>
          </li>
          <li>
        
            <input type="radio" id="myCheckbox3" name="myRadio" value="Monster" />
            <label for="myCheckbox3"><img src="/assets/images/monster.png" /></label>
            <h4>Max het Monster</h4>
          </li>
        </ul>
      </div>
    </div>
    <%- include("partials/footer") %>
    <script src="/js/chatbot.js"></script>
  </body>
</html>
